.navbar {
  display: flex;
  justify-content: space-between;
  background: #003366;
  padding: 15px 40px;
  color: white;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}